input {
    keyboard {
        xkb {
            layout "us,ru"
        }
        repeat-delay 300
        repeat-rate 30
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        accel-speed 0.2        
    }
    focus-follows-mouse
    workspace-auto-back-and-forth
} 
