assets
dconf
gtk-*
krita*
Kvantum
lib*
Loop*
menus
mpv
nautilus
net.*
noctalia
nwg-look
obs-studio
openrc
pavuc*
pcmanfm
Pinta
pulse
qdiskinfo
Qt*
r2*
rc
rivalcfg
spicetify
spotify
transmission
unity3d
vesktop
vlc
xarchiver
xdg-desktop-portal
xsettingsd
zen
