configuration {
    display-drun: ">";
    hover-select: false;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
    scroll-method: 1;
}

* {
    bg:          #392b2b;
    fg:          #d3c6aa;
    accent:      #e680a0;
    bg-selected: #5c4b4b;

    background-color: transparent;
    text-color:        @fg;
    font:              "DepartureMono 12";
}

window {
    background-color: @bg;
    border:            0px;   
    padding:           12px;  
    width:             500px;
}

mainbox {
    children: [ inputbar, listview ];
    spacing:  8px;
}

inputbar {
    padding:           4px;
    children:          [ prompt, entry ];
}

prompt {
    text-color: @accent;
    margin:     0px 8px 0px 0px;
}

entry {
    text-color:          @fg;
    placeholder:       "";
}

listview {
    lines:         8;
    columns:       1;
    fixed-height: true;
    spacing:       4px;
    scrollbar:     false;  
    border:        0px;
}

element {
    padding:         6px;
    border:          0px; 
}

element normal normal, element alternate normal {
    background-color: transparent;
    text-color:        @fg;
}

element selected normal {
    background-color: @bg-selected;
    text-color:        @accent;
}
