layout {
    gaps 12
    always-center-single-column
    center-focused-column "never"
    background-color "transparent"
    shadow {
            softness 0
        }
    preset-column-widths {
        proportion 0.4
        proportion 0.5
        proportion 0.6
    }
	
    struts {
        left -2
        right -2
        top -2
        bottom -2
    }
}
